.label {
    color: rgba(27, 43, 65, 0.72);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 5px;
}
.label-error {
    color: red;
}
.input {
    margin-top: 5px;
    border-radius: 3px;
    border: 1px solid rgba(28, 55, 90, 0.16);
    padding: 14px 5px;
    color: rgba(24, 39, 58, 0.94);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; 
}
.input-error {
    border-color: red;
}