.google-button-wrap {
    display: flex;
    .google-btn {
        display: flex;
        justify-content: center;
        background: #fff;
        border-radius: 4px;
        border: 1px solid rgba(28, 52, 84, 0.26);
        width: 100%;
        color: rgba(27, 43, 65, 0.72);
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding: 12px 14px;
        pointer-events: none;
    }
    .google-icon {
        display: block;
        background: url('./../../assets/icons/google-icon.svg') center center / contain no-repeat;
        width: 19px;
        height: 19px;
        margin-right: 20px;
    }
}